.genres{
    z-index: 5;
    display: flex;
    gap:5px;
    flex-wrap: wrap;
    margin: 0.4rem ;

    .genre{
        background-color: var(--pink);
        padding:3px 5px;
        border-radius:4px ;
        color:white;
        position: relative;
        
        

    }

}
